* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url(Kumbh_Sans/static/KumbhSans-Regular.ttf);
}
@font-face {
  font-family: ExtraBoldFont;
  src: url(Kumbh_Sans/static/KumbhSans-ExtraBold.ttf);
}

body {
  margin: 0 6rem;
  font-family: myFont;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 0;
  border-bottom: 1px solid hsl(219, 9%, 45%);
}
.logo {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.logo ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  /* border: 1px solid; */
}
.logo ul li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  padding-bottom: 2.8rem;
  transition: 0.3s ease-in;
}
.logo ul li a:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
}
.logo p {
  font-family: ExtraBoldFont;
  font-size: 35px;
}
.avatar {
  width: 40px;
}
.body {
  margin-top: 5rem;
}
.cartComponent {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.img1 {
  width: 40%;
  border-radius: 20px;
}
.thumbnailImage {
  margin: 2rem 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.thumbnailImage img {
  width: 90px;
  border-radius: 10px;
}
.thumbnailImage .active {
  opacity: 0.6;
  border: 2px solid hsl(26, 100%, 55%);
}
