* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url(Kumbh_Sans/static/KumbhSans-Regular.ttf);
}
@font-face {
  font-family: ExtraBoldFont;
  src: url(Kumbh_Sans/static/KumbhSans-ExtraBold.ttf);
}

body {
  margin: 0 6rem;
  font-family: myFont;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  border-bottom: 1px solid hsl(219, 9%, 45%);
}
.logo {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.logo ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  /* border: 1px solid; */
  padding: 2.5rem 0.5rem;
}
.logo ul li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
}
.logo ul li:hover {
  border-bottom: 2px solid hsl(26, 100%, 55%);
}
.logo p {
  font-family: ExtraBoldFont;
  font-size: 35px;
}
.avatar {
  width: 40px;
}
.cartComponent {
  display: flex;
  align-items: center;
  gap: 3rem;
}
